backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/

### IntelliJ IDEA ###
backend/.idea/modules.xml
backend/.idea/jarRepositories.xml
backend/.idea/compiler.xml
backend/.idea/libraries/
*.iws
*.iml
*.ipr

### Mac OS ###
backend/.DS_Store
.DS_Store

### client testing ###
backend/src/main/java/Client.java

#Flutter
.dart_tool/
.packages
.pub/
build/
pubspec.lock 


